html {
  height: 100%;
}

body {
  font-family: 'Cabin', sans-serif;
  color: white;
  background-color: #33333F;
  text-align: center;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

h1 {
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
}

ul {
  list-style: none;
}

span {
  color: #ff5500;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 20px;
  background-size: 60px;
  display: block;
  background-repeat: no-repeat;
  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}

@media (min-device-width: 501px) and (max-device-width: 1024px){
  body {
    font-size: 200%;
  }

  .icon {
  width: 100px;
  height: 100px;
  margin: 20px;
  background-size: 100px;
  }
}

@media (max-device-width: 500px) {
  body {
    font-size: 350%;
  }

  .icon {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-size: 200px;
  }
}

@media (max-device-height: 414px){
  body {
    font-size: 140%;
  }

  h1 {
  margin: 0px;
  }

  h4 {
  margin: 10px;
  }

  p {
  margin: 0px;
  }

  .icon {
  width: 90px;
  height: 90px;
  margin: 20px;
  background-size: 90px;
  }
}

.icon.twitter {
  background-image: url("../images/icons/twitter_white.png");
}

.icon.twitter:hover {
  background-image: url("../images/icons/twitter_colour.png");
}

.icon.ig {
  background-image: url("../images/icons/ig_white.png");
}

.icon.ig:hover {
  background-image: url("../images/icons/ig_colour.png");
}

.icon.linkedin {
  background-image: url("../images/icons/linkedin_white.png");
}

.icon.linkedin:hover {
  background-image: url("../images/icons/linkedin_colour.png");
}

.icon.contact {
  background-image: url("../images/icons/mail_white.png");
}

.icon.contact:hover {
  background-image: url("../images/icons/mail_green.png");
}