html {
  height: 100%;
}

body {
  font-family: 'Cabin', sans-serif;
  color: white;
  background-color: #33333F;
  text-align: center;
  height: 100%;
  font-size: 15pt;
  user-select: none;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
}

ul {
  list-style: none;
}

span {
  color: #ff5500;
}

svg {
  margin: 20px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.svgicon {
  pointer-events: bounding-box;
  transition: fill 0.2s ease-in-out;
}

.svgicon.twitter:hover {
  fill: #1da1f2;
}

#ig-gradient {
  opacity: 0;
  display: inline-block;
  transition: opacity 0.2s ease;
}

#ig-gradient:hover {
  opacity: 1;
}

.svgicon.linkedin:hover {
  fill: #0077b5;
}

.svgicon.contact:hover {
  fill: #24d125;
}

@media (orientation: portrait) AND (max-width: 350px) {

  svg {
    margin: 8px;
  }

}

@media (orientation: landscape) AND (max-height: 350px) {

  body {
    font-size: 11pt;
  }

  p {
    margin-top: 0;
  }

  h4 {
    margin: 0;
  }

  svg {
    margin: 20px;
    width: 50px;
    height: 50px;
  }

}

@media (orientation: portrait) AND (min-width: 351px) AND (max-width: 500px) {

  body {
    font-size: 150%;
  }

  svg {
    margin: 8px;
    width: 70px;
    height: 70px;
  }

}

@media (orientation: landscape) AND (min-height: 351px) AND (max-height: 500px) {

  body {
    font-size: 14pt;
  }

  p {
    margin-top: 0;
  }

  h4 {
    margin: 0;
  }

  svg {
    margin: 20px;
    width: 50px;
    height: 50px;
  }

}

@media (orientation: portrait) AND (min-width: 768px) AND (max-width: 1024px) {

  body {
    font-size: 250%;
  }

  svg {
    margin: 20px;
    width: 100px;
    height: 100px;
  }

}

@media (orientation: landscape) AND (min-height: 768px) AND (max-height: 1024px) {

  body {
    font-size: 200%;
  }

  svg {
    margin: 20px;
    width: 100px;
    height: 100px;
  }

}